<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzj.admin.mapper.DamageListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lzj.admin.pojo.DamageList">
        <id column="id" property="id" />
        <result column="damage_date" property="damageDate" />
        <result column="damage_number" property="damageNumber" />
        <result column="remarks" property="remarks" />
        <result column="user_id" property="userId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        "id", "damage_date", "damage_number", "remarks", "user_id"
    </sql>

    <select id="getNextDamageNumber" resultType="java.lang.String">
        SELECT MAX("damage_number") AS damageNumber
        FROM t_damage_list
        WHERE TO_DAYS("damage_date") = TO_DAYS(NOW())
    </select>

    <select id="damageList" resultType="com.lzj.admin.pojo.DamageList">
        SELECT
            dl."id",
            dl."damage_date",
            dl."damage_number",
            dl."remarks",
            dl."user_id",
            u."user_name" AS userName
        FROM t_damage_list dl
        LEFT JOIN t_user u ON dl."user_id" = u."id"
        <where>
            <if test="null != damageListQuery.startDate and damageListQuery.startDate != ''">
                AND dl."damage_date" &gt;= #{damageListQuery.startDate}
            </if>
            <if test="null != damageListQuery.endDate and damageListQuery.endDate != ''">
                AND dl."damage_date" &lt;= #{damageListQuery.endDate}
            </if>
        </where>
    </select>

</mapper>